<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/layout-admin.html :: dynamic(~{::body})}">
<body>
	<div class="content-body">
		<div class="warper container-fluid">
			<div class="all-patients main_container">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header fix-card">
								<div class="row">
									<div class="col-10">
										<h4 class="card-title">Danh sách khách hàng</h4>
									</div>
									<div class="col-1 float-end">
										<button type="button" data-bs-toggle="modal"
											data-bs-target="#searchModal"
											class="btn btn-primary float-end">
											<i class="fas fa-search"></i>
										</button>
									</div>
									<div class="col-1 float-end">
										<button type="button" data-bs-toggle="modal"
											data-bs-target="#addModal" class="btn btn-primary float-end">
											<i class="fas fa-plus"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered table-hover text-center">
										<thead class="text-center">
											<tr class="bg-secondary">
												<th class="text-white">Mã</th>
												<th class="text-white">Ảnh</th>
												<th class="text-white">Tên</th>
												<th class="text-white">Họ tên</th>
												<th class="text-white">Email</th>
												<th class="text-white">Người tạo</th>
												<th class="text-white">Người sửa</th>
												<th class="text-white">Ngày tạo</th>
												<th class="text-white">Ngày sửa</th>
												<th></th>
											</tr>
										</thead>
										<tbody th:each="item: ${users}">
											<tr>
												<td th:text="${item.id}"></td>
												<td><img alt="" class="rounded" height="40px;"
													width="40px" th:src="@{${item.avatarUrl}}"></td>
												<td th:text="${item.username}"></td>
												<td th:text="${item.fullname}"></td>
												<td th:text="${item.email}"></td>
												<td
													th:text="${item.createdBy} ? ${item.createdBy} : 'Trống'"></td>
												<td
													th:text="${item.updatedBy} ? ${item.updatedBy} : 'Trống'"></td>
												<td
													th:text="${#dates.format(item.createDate, 'dd-MM-yyyy HH:mm')} ? ${#dates.format(item.createDate, 'dd-MM-yyyy HH:mm')} : 'Trống'"></td>
												<td
													th:text="${#dates.format(item.updateDate, 'dd-MM-yyyy HH:mm')} ? ${#dates.format(item.updateDate, 'dd-MM-yyyy HH:mm')} : 'Trống'"></td>
												<td><a data-bs-toggle='modal'
													data-bs-target='#editModal'
													th:attr="onclick='btnEdit(\'' + ${item.id} + '\')'"
													class='mr-4'> <span
														class='fas fa-pencil-alt text-warning'></span>
												</a> <a data-bs-toggle="modal" data-bs-target="#deleteModal"
													th:attr="onclick='showConfirmModalDialog(\'' + ${item.id} + '\')'"
													class='mr-4 delet'> <span
														class='fas fa-trash-alt text-danger'></span>
												</a></td>
											</tr>
										</tbody>
									</table>
									<nav aria-label="Page navigation example mb-2">
										<ul class="pagination justify-content-end">
											<li
												th:class="${currentPage == 1} ? 'page-item disabled' : ''"><a
												th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage - 1)}}"
												class="page-link">Trước</a></li>
											<li th:each="i: ${#numbers.sequence(1, totalPages)}"
												th:class="${currentPage == i} ? 'active page-item' : ''"><a
												class="page-link" th:href="@{'?page=' + ${i}}"
												th:text="${i}"></a></li>
											<li
												th:class="${currentPage == totalPages} ? 'page-item disabled' : ''"><a
												th:href="@{${curretnPage < totalPages} ? ${'?page=' + (currentPage + 1)}}"
												class="page-link">Sau</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ADD MODAL -->
	<div class="modal fade" id="addModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form th:action="@{/admin/customer/add}" method="POST"
			enctype="multipart/form-data">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Thêm mới khách
							hàng</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-6">
								<label class="form-label">Tên khách hàng</label> <input
									class="form-control myInput" type="text" id="username"
									name="username" placeholder="Tên khách hàng">
							</div>
							<div class="form-group col-md-6">
								<label class="form-label">Họ tên khách hàng</label> <input
									class="form-control myInput" type="text" id="fullname"
									name="fullname" placeholder="Họ tên khách hàng">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label class="form-label">Mật khẩu</label> <input
									class="form-control myInput" type="password" id="password"
									name="password" placeholder="Mật khẩu khách hàng">
							</div>
							<div class="form-group col-md-6">
								<label class="form-label">Email</label> <input
									class="form-control myInput" type="email" id="email"
									name="email" placeholder="Email khách hàng">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="form-label">Ảnh</label> <input
									class="form-control" type="file" name="imageName">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Hủy</button>
						<button type="submit" class="btn btn-primary" id="btnAdd" disabled>Thêm</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- EDIT & UPDATE MODAL -->
	<div class="modal fade" id="editModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form th:action="@{/admin/customer/update}" method="POST"
			enctype="multipart/form-data">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cập nhật khách
							hàng</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<input type="hidden" id="idEdit" name="id" /> <input
								type="hidden" id="passwordEdit" name="password" />
							<div class="form-group col-md-6">
								<label class="form-label">Tên khách hàng</label> <input
									class="form-control" type="text" id="usernameEdit"
									name="username" placeholder="Tên khách hàng">
							</div>
							<div class="form-group col-md-6">
								<label class="form-label">Họ tên khách hàng</label> <input
									class="form-control" type="text" id="fullnameEdit"
									name="fullname" placeholder="Họ tên khách hàng">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label class="form-label">Email</label> <input
									class="form-control" type="email" id="emailEdit" name="email"
									placeholder="Email khách hàng">
							</div>
							<div class="form-group col-md-6">
								<label class="form-label">Ảnh</label> <input
									class="form-control" type="file" name="imageName">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Hủy</button>
						<button type="submit" class="btn btn-primary">Cập nhật</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- DELETE MODAL -->
	<div class="modal" tabindex="-1" id="deleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<b>Xóa khách hàng</b>
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-danger text-white text-center">
					<p>Bạn có chắc chắn muốn xóa.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Hủy</button>
					<a href="" type="button" class="btn btn-primary" id="yesOption">Xóa</a>
				</div>
			</div>
		</div>
	</div>

	<!-- SEARCH MODAL -->
	<div class="modal fade" id="searchModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form th:action="@{/admin/customer/search}" method="GET">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Tìm kiếm khách
							hàng</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group">
								<input class="form-control" type="text" name="keyword"
									th:value="${keyword}" placeholder="Nhập từ khóa tìm kiếm">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Hủy</button>
						<button type="submit" class="btn btn-primary">Tìm</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script>
	// Lấy các phần tử HTML cần thiết
	var inputs = document.getElementsByClassName('myInput');
	var button = document.getElementById('btnAdd');

	Array.from(inputs).forEach(function(input) {
		input.addEventListener('input', function() {
			// Kiểm tra tất cả các input
			var allInputsFilled = Array.from(inputs).every(function(input) {
				return input.value.trim() !== '';
			});

			// Vô hiệu hóa hoặc kích hoạt nút dựa trên kết quả kiểm tra
			button.disabled = !allInputsFilled;
		});
	});
	
		function showConfirmModalDialog(id) {
			$('#yesOption').attr('href', '/anime/admin/customer/delete/' + id);
		}

		function btnEdit(id) {
			var url = '/anime/admin/customer/edit/' + id;
			fetch(url)
			  .then(response => response.json())
			  .then(data => {
			    $("#idEdit").val(data.id);
			    $("#usernameEdit").val(data.username);
			    $("#fullnameEdit").val(data.fullname);
			    $("#emailEdit").val(data.email);
			    $("#passwordEdit").val(data.password);
			  })
		}
	</script>
</body>
</html>