<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/layout-user.html :: dynamic(~{::body})}">
<body>
	<div class="kenne-login-register_area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mx-auto">
					<!-- Login Form s-->
					<form th:action="@{/forgot-password}" method="POST">
						<div class="login-form">
							<h4 class="login-title text-center" style="color: #a8741a;">QUÊN
								MẬT KHẨU</h4>
							<div class="row">
								<div class="col-md-12 col-12">
									<label>Địa chỉ email*</label> <input type="text"
										placeholder="Địa chỉ email" name="email" />
								</div>
								<div class="col-md-12">
									<button
										style="width: 100%; border-radius: 20px 20px 20px 20px;"
										class="kenne-login_btn" type="submit">Lấy lại</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			/*<![CDATA][*/
			let messageSuccess = /*[[${message}]]*/'default';
			let messageEmailInValid = /*[[${emailInValid}]]*/'default';
			let messageError = /*[[${error}]]*/'default';
			/*]]>*/
			if (messageSuccess !== null) {
				Swal.fire("Thành công", messageSuccess, "success");
			}
			if (messageEmailInValid !== null) {
				Swal.fire("Thất bại", messageEmailInValid, "error");
			}
			if (messageError !== null) {
				Swal.fire("Thất bại", messageError, "error");
			}
		})
	</script>
</body>
</html>