<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/layout-user.html :: dynamic(~{::body})}">
<body>
	<!-- Begin Banner Area -->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner-item img-hover_effect">
						<div class="banner-img">
							<a th:href="@{/shop}"> <img src="https://wallpaperaccess.com/full/6275807.jpg"
								alt="Banner">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner-item img-hover_effect">
						<div class="banner-img">
							<a th:href="@{/shop}"> <img src="https://wallpaperaccess.com/full/1471766.jpg"
								alt="Banner">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner-item img-hover_effect">
						<div class="banner-img">
							<a th:href="@{/shop}"> <img
								src="https://e0.pxfuel.com/wallpapers/337/97/desktop-wallpaper-anime-demon-slayer-tanjiro-live.jpg"
								alt="Banner">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner Area End Here -->

	<!-- Begin Product Area -->
	<div class="product-area ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3>Top sản phẩm mới</h3>
						<div class="product-arrow"></div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="kenne-element-carousel product-slider slider-nav"
						data-slick-options='{
                        "slidesToShow": 4,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": true,
                        "dots": false,
                        "spaceBetween": 30,
                        "appendArrows": ".product-arrow"
                        }'
						data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 3
                        }},
                        {"breakpoint":768, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":575, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>
						<div class="product-item" th:each="item: ${topNewsProd}">
							<div class="single-product">
								<div class="product-img">
									<a th:href="@{|/shop/${item.slug}|}"> <img
										class="primary-img"
										th:src="@{${item.getImagesProducts().get(0).getImageUrl()}}"
										height="250px" alt="Kenne's Product Image"> <img
										class="secondary-img"
										th:src="@{${item.getImagesProducts().get(1).getImageUrl()}}"
										height="250px" alt="Kenne's Product Image">
									</a> <span class="sticker">Mới</span>
									<div class="add-actions">
										<ul>
											<li class="quick-view-btn" data-toggle="modal"
												data-target="#exampleModalCenter"><a
												th:href="@{|/shop/${item.slug}|}" data-toggle="tooltip"
												data-placement="right" title="Chi tiết"><i
													class="ion-ios-search"></i></a></li>
											<li th:if="${item.quantity > 0}"><a
												data-toggle="tooltip"
												th:attr="onclick='addToCart(\'' + ${item.id} + '\')'"
												data-placement="right" title="Thêm vào giỏ"><i
													class="ion-bag"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="product-desc_info">
										<h3 class="product-name">
											<a th:href="@{|/shop/${item.slug}|}" th:text="${item.name}"></a>
										</h3>
										<div class="price-box">
											<span class="new-price"
												th:text="${#numbers.formatDecimal(item.price, 1, 'POINT', 3, 'POINT') + ' VNĐ'}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Product Area End Here -->

	<!-- Begin Product Tab Area -->
	<div class="product-tab_area mb-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3>Top sản phẩm được quan tâm</h3>
						<div class="product-tab">
							<ul class="nav product-menu">
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="shop-product-wrap grid gridview-3 row">
						<div class="col-md-3" th:each="item: ${topViewsProd}">
							<div class="product-item">
								<div class="single-product" style="height: 450px;">
									<div class="product-img">
										<a th:href="@{|/shop/${item.slug}|}"> <img
											class="primary-img"
											th:src="@{${item.getImagesProducts().get(0).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" /> <img
											class="secondary-img"
											th:src="@{${item.getImagesProducts().get(1).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" />
										</a> <span class="sticker-2" th:if="${item.quantity > 0}">Còn
											hàng</span> <span
											class="sticker-2 bg-warning text-danger font-weight-bold"
											th:unless="${item.quantity > 0}">Hết hàng</span>
										<div class="add-actions">
											<ul>
												<li class="quick-view-btn" data-toggle="modal"
													data-target="#exampleModalCenter"><a
													th:href="@{|/shop/${item.slug}|}" data-toggle="tooltip"
													data-placement="right" title="Chi tiết"><i
														class="ion-ios-eye"></i></a></li>
												<li th:if="${item.quantity > 0}"><a
													data-toggle="tooltip" data-placement="right"
													th:attr="onclick='addToCart(\'' + ${item.id} + '\')'"
													title="Thêm vào giỏ"><i class="ion-bag"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="product-content">
										<div class="product-desc_info">
											<h3 class="product-name">
												<a th:href="@{|/shop/${item.slug}|}" th:text="${item.name}"></a>
											</h3>
											<div class="price-box">
												<span class="new-price"
													th:text="${#numbers.formatDecimal(item.price, 1, 'POINT', 3, 'POINT') + ' VNĐ'}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="kenne-paginatoin-area">
								<div class="row">
									<div class="col-lg-12">
										<ul class="kenne-pagination-box primary-color">
											<a class="px-4" th:href="@{/shop/sortViewDesc}">Xem thêm</a>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Product Tab Area End Here -->

	<!-- Begin Product Tab Area -->
	<div class="product-tab_area mb-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3>Top sản phẩm bán chạy</h3>
						<div class="product-tab">
							<ul class="nav product-menu">
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="shop-product-wrap grid gridview-3 row">
						<div class="col-md-3" th:each="item: ${topSelledsProd}">
							<div class="product-item">
								<div class="single-product" style="height: 450px;">
									<div class="product-img">
										<a th:href="@{|/shop/${item.slug}|}"> <img
											class="primary-img"
											th:src="@{${item.getImagesProducts().get(0).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" /> <img
											class="secondary-img"
											th:src="@{${item.getImagesProducts().get(1).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" />
										</a> <span class="sticker-2" th:if="${item.quantity > 0}">Còn
											hàng</span> <span
											class="sticker-2 bg-warning text-danger font-weight-bold"
											th:unless="${item.quantity > 0}">Hết hàng</span>
										<div class="add-actions">
											<ul>
												<li class="quick-view-btn" data-toggle="modal"
													data-target="#exampleModalCenter"><a
													th:href="@{|/shop/${item.slug}|}" data-toggle="tooltip"
													data-placement="right" title="Chi tiết"><i
														class="ion-ios-eye"></i></a></li>
												<li th:if="${item.quantity > 0}"><a
													data-toggle="tooltip" data-placement="right"
													th:attr="onclick='addToCart(\'' + ${item.id} + '\')'"
													title="Thêm vào giỏ"><i class="ion-bag"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="product-content">
										<div class="product-desc_info">
											<h3 class="product-name">
												<a th:href="@{|/shop/${item.slug}|}" th:text="${item.name}"></a>
											</h3>
											<div class="price-box">
												<span class="new-price"
													th:text="${#numbers.formatDecimal(item.price, 1, 'POINT', 3, 'POINT') + ' VNĐ'}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="kenne-paginatoin-area">
								<div class="row">
									<div class="col-lg-12">
										<ul class="kenne-pagination-box primary-color">
											<a class="px-4" th:href="@{/shop/sortSelledDesc}">Xem thêm</a>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Product Tab Area End Here -->

	<!-- Begin Product Tab Area -->
	<div class="product-tab_area mb-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3>Top sản phẩm giảm giá</h3>
						<div class="product-tab">
							<ul class="nav product-menu">
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="shop-product-wrap grid gridview-3 row">
						<div class="col-md-3" th:each="item: ${topDiscountsProd}">
							<div class="product-item">
								<div class="single-product" style="height: 450px;">
									<div class="product-img">
										<a th:href="@{|/shop/${item.slug}|}"> <img
											class="primary-img"
											th:src="@{${item.getImagesProducts().get(0).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" /> <img
											class="secondary-img"
											th:src="@{${item.getImagesProducts().get(1).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" />
										</a> <span class="sticker-2" th:if="${item.quantity > 0}">Giảm
											[[${item.discount * 100}]]%</span> <span
											class="sticker-2 bg-warning text-danger font-weight-bold"
											th:unless="${item.quantity > 0}">Hết hàng</span>
										<div class="add-actions">
											<ul>
												<li class="quick-view-btn" data-toggle="modal"
													data-target="#exampleModalCenter"><a
													th:href="@{|/shop/${item.slug}|}" data-toggle="tooltip"
													data-placement="right" title="Chi tiết"><i
														class="ion-ios-eye"></i></a></li>
												<li th:if="${item.quantity > 0}"><a
													data-toggle="tooltip" data-placement="right"
													th:attr="onclick='addToCart(\'' + ${item.id} + '\')'"
													title="Thêm vào giỏ"><i class="ion-bag"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="product-content">
										<div class="product-desc_info">
											<h3 class="product-name">
												<a th:href="@{|/shop/${item.slug}|}" th:text="${item.name}"></a>
											</h3>
											<div class="price-box">
												<span class="new-price"
													th:text="${#numbers.formatDecimal(item.price*(1-item.discount), 1, 'POINT', 3, 'POINT') + ' VNĐ'}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="kenne-paginatoin-area">
								<div class="row">
									<div class="col-lg-12">
										<ul class="kenne-pagination-box primary-color">
											<a class="px-4" th:href="@{/shop-discount}">Xem thêm</a>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Product Tab Area End Here -->

	<script>
		const addToCart = (productId) =>{
	   			const url = '/anime/api/cart/update?productId=' + productId + '&quantity=1&isReplace=false';
				$.ajax({
					url : url,
					type : 'GET',
					dataType : 'json',
					success : function(data) {
						$('#headerTotalPrice').text(formatCurrency(data.totalPrice));
						$('#headerTotalQuantity1').text(data.totalQuantity);
						$('#headerTotalQuantity2').text(data.totalQuantity);
					},
					error : function(error) {
						console.log(error);
						alert("Thêm giỏ hàng thất bại!");
					}
				});
	   		}
	   		
	   	const formatCurrency = (x) => {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' VNĐ';
			}
	</script>

</body>
</html>