<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/layout-user.html :: dynamic(~{::body})}">
<body>
	<div class="kenne-content_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 order-2 order-lg-1">
					<div class="kenne-sidebar-catagories_area">
						<div class="kenne-sidebar_categories mb-5">
							<div class="kenne-categories_title first-child">
								<h5>Tìm kiếm từ khóa</h5>
							</div>
							<form th:action="@{/shop/search}" method="GET">
								<div class="input-group">
									<input type="text" class="form-control" name="keyword"
										th:value="${keyword}"
										aria-label="Amount (to the nearest dollar)"
										placeholder="Nhập từ khóa tìm kiếm">
									<div class="input-group-append">
										<span class="input-group-text bg-white"><button>
												<i class="ion-ios-search"></i>
											</button></span>
									</div>
								</div>
							</form>
						</div>
						<div class="kenne-sidebar_categories">
							<div class="kenne-categories_title first-child">
								<h5>Lọc theo mức giá</h5>
							</div>
							<div class="price-filter">
								<div id="slider-range"></div>
								<div class="price-slider-amount">
									<div class="label-input">
										<label>Giá : </label> <input type="text" id="amount"
											name="price" placeholder="Add Your Price"
											style="width: 200px;" />
										<form th:action="@{/shop/searchPrice}" method="GET">
											<input type="hidden" id="minamount" name="min"
												th:value="${min}"> <input type="hidden"
												id="maxamount" name="max" th:value="${max}">
											<button class="filter-btn" type="submit">Lọc</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="kenne-sidebar_categories category-module">
							<div class="kenne-categories_title">
								<h5>Danh mục sản phẩm</h5>
							</div>
							<div class="sidebar-categories_menu">
								<ul>
									<li class="mb-3"><a th:href="@{/shop}">Tất cả</a></li>
									<li class="has-sub mb-3"
										th:each="itemParent: ${@DataGlobal.categoryParents}"><a
										th:text="${itemParent.name}"><i class="ion-ios-plus-empty"></i></a>
										<ul>
											<li th:each="item: ${itemParent.categories}" class="mb-3"><a
												th:text="${item.name}"
												th:href="@{|/shop/category/${item.name}|}"></a></li>
										</ul></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-8 order-1 order-lg-2">
					<div class="shop-toolbar">
						<div class="product-view-mode">
							<a class="active grid-3" data-target="gridview-3"
								data-toggle="tooltip" data-placement="top" title="Grid View"><i
								class="fa fa-th"></i></a> <a class="list" data-target="listview"
								data-toggle="tooltip" data-placement="top" title="List View"><i
								class="fa fa-th-list"></i></a>
						</div>
						<div class="product-page_count">
							<p>Hiển thị [[${currentPage}]] trong tổng số
								[[${totalPages}]] trang</p>
						</div>
						<div class="product-item-selection_area">
							<div class="product-short">
								<label class="select-label">Tiêu chí sắp xếp:</label> <select
									class="nice-select myniceselect"
									onchange="location = this.value;">
									<option value="/anime/shop">Mặc Định</option>
									<option value="/anime/shop/sortPriceDesc">Giá Cao -
										Thấp</option>
									<option value="/anime/shop/sortPriceAsc">Giá Thấp -
										Cao</option>
									<option value="/anime/shop/sortViewDesc">Được quan tâm
										nhiều</option>
									<option value="/anime/shop/sortSelledDesc">Bán chạy</option>
								</select>

							</div>
						</div>
					</div>
					<!-- 					<div class="text-center" th:if="${products.empty}"> -->
					<!-- 						<h3 class="mt-5" style="color: #A8741A">Sản phẩm này hiện tại -->
					<!-- 							chưa bán!</h3> -->
					<!-- 					</div> -->
					<div class="shop-product-wrap grid gridview-3 row">
						<div class="col-lg-4 col-md-4 col-sm-6"
							th:each="item: ${products}">
							<div class="product-item">
								<div class="single-product" style="height: 450px;">
									<div class="product-img">
										<a th:href="@{|/shop/${item.slug}|}"> <img
											class="primary-img"
											th:if="${item.getImagesProducts().get(0).getImageUrl()} != null"
											th:src="@{${item.getImagesProducts().get(0).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" /> <img
											class="secondary-img"
											th:src="@{${item.getImagesProducts().get(1).getImageUrl()}}"
											height="250px" alt="Kenne's Product Image" />
										</a> <span th:if="${item.quantity > 0}" class="sticker-2">Còn
											hàng</span> <span th:unless="${item.quantity > 0}"
											class="sticker-2 bg-warning text-danger font-weight-bold">Hết
											hàng</span>
										<div class="add-actions">
											<ul>
												<li class="quick-view-btn" data-toggle="modal"
													data-target="#exampleModalCenter"><a
													th:href="@{|/shop/${item.slug}|}" data-toggle="tooltip"
													data-placement="right" title="Chi tiết"><i
														class="ion-ios-eye"></i></a></li>
												<li th:if="${item.quantity > 0}"><a
													data-toggle="tooltip" data-placement="right"
													th:attr="onclick='addToCart(\'' + ${item.id} + '\')'"
													title="Thêm vào giỏ"><i class="ion-bag"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="product-content">
										<div class="product-desc_info">
											<h3 class="product-name">
												<a th:href="@{|/shop/${item.slug}|}" th:text="${item.name}"></a>
											</h3>
											<div class="price-box">
												<span class="new-price"
													th:text="${#numbers.formatDecimal(item.price, 1, 'POINT', 3, 'POINT') + ' VNĐ'}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="list-product_item">
								<div class="single-product pb-3">
									<div class="product-img">
										<a th:href="@{|/shop/${item.slug}|}"> <img
											th:src="@{${item.getImagesProducts().get(0).getImageUrl()}}"
											height="200px" width="300px" alt="Kenne's Product Image" />
										</a>
									</div>
									<div class="product-content">
										<div class="product-desc_info">
											<div class="price-box">
												<span class="new-price"
													th:text="${#numbers.formatDecimal(item.price, 1, 'POINT', 3, 'POINT') + ' VNĐ'}"></span>
											</div>
											<h6 class="product-name">
												<a th:href="@{|/shop/${item.slug}|}" th:text="${item.name}"></a>
											</h6>
											<div class="product-short_desc">
												<p></p>
											</div>
										</div>
										<div class="add-actions">
											<ul>
												<li class="quick-view-btn" data-toggle="modal"
													data-target="#exampleModalCenter"><a
													th:href="@{|/shop/${item.slug}|}" data-toggle="tooltip"
													data-placement="top" title="Chi tiết"><i
														class="ion-ios-eye"></i></a></li>
												<li><a data-toggle="tooltip" data-placement="top"
													th:attr="onclick='addToCart(\'' + ${item.id} + '\')'"
													title="Thêm vào giỏ"><i class="ion-bag"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:if="${totalPages > 1}">
						<div class="col-lg-12">
							<div class="kenne-paginatoin-area">
								<div class="row">
									<div class="col-lg-12">
										<ul class="kenne-pagination-box primary-color">
											<li
												th:style="${currentPage == 1} ? 'pointer-events: none; color: currentColor; cursor: not-allowed; opacity: 0.5; ' : ''">
												<a
												th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage - 1)}}">Trước</a>
											</li>
											<li th:each="i: ${#numbers.sequence(1, totalPages)}"
												th:class="${currentPage == i} ? 'active' : ''"><a
												th:href="@{'?page=' + ${i}}" th:text="${i}"></a></li>
											<li
												th:style="${currentPage == totalPages} ? 'pointer-events: none; color: currentColor; cursor: not-allowed; opacity: 0.5; ' : ''">
												<a class="Next"
												th:href="@{${curretnPage < totalPages} ? ${'?page=' + (currentPage + 1)}}">Tiếp</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const addToCart = (productId) =>{
	   			const url = '/anime/api/cart/update?productId=' + productId + '&quantity=1&isReplace=false';
				$.ajax({
					url : url,
					type : 'GET',
					dataType : 'json',
					success : function(data) {
						$('#headerTotalPrice').text(formatCurrency(data.totalPrice));
						$('#headerTotalQuantity1').text(data.totalQuantity);
						$('#headerTotalQuantity2').text(data.totalQuantity);
					},
					error : function(error) {
						console.log(error);
						alert("Thêm giỏ hàng thất bại!");
					}
				});
	   		}
	   		
	   	const formatCurrency = (x) => {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' VNĐ';
			}
	</script>

</body>
</html>