<!-- start section header -->
<div class="header">
	<header class="top-head container-fluid">
	<div class="nav-control">
			<div class="hamburger"></div>
		</div>
		<div class="header-right ">
			<div class="my-account-wrapper">
				<div class="account-wrapper">
					<div class="account-control">
						<a class="login header-profile" href="#" title="Sign in">
							<div class="header-info">
								<span th:if="${@AuthGlobal.inforUser.fullname}" th:text="${@AuthGlobal.inforUser.fullname}"></span> <small
									th:each="role : ${@AuthGlobal.inforUser.userRoles}"><small
									th:if="${role.role.name == 'ADMIN'}"
									th:text="${role.role.name}"></small><small
									th:unless="${role.role.name == 'ADMIN'}"
									th:text="${role.role.name}"></small></small>
							</div> <img th:src="@{${@AuthGlobal.getInforUser().getAvatarUrl()}}"
							alt="people">
						</a>
						<div class="account-dropdown-form dropdown-container">
							<div class="form-content">
								<a th:href="@{/admin/edit-profile}">
									<i class="far fa-user"></i>
									<span class="ml-2">Thông tin cá nhân</span>
								</a>
								<a th:href="@{/logout}"> <i class="fas fa-sign-in-alt"></i>
									<span class="ml-2">Đăng xuất</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
<!-- End section header -->