<div class="nav-header">
	<div class="brand-logo">
		<a th:href="@{/admin/index}"> <img class="logo-tabib"
			src="https://www.favicon.cc/logo3d/862154.png"
			alt="" style="margin-left: 50px; max-width: 60px"></a>
	</div>
</div>


<aside class="left-panel nicescroll-box">
	<nav class="navigation">
		<ul class="list-unstyled main-menu">
			<li class="has-submenu active"><a th:href="@{/admin/index}">
					<i class="fas fa-th-large"></i> <span class="nav-label">Trang
						chủ</span>
			</a></li>
			<li class="has-submenu"><a th:href="@{/admin/category-parent}">
					<i class="fas fa-sitemap"></i> <span class="nav-label">Danh
						mục cha</span>
			</a>
		</ul>
	</nav>
</aside>