<div class="slider-area">
	<div class="kenne-element-carousel home-slider arrow-style"
		data-slick-options='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "infinite": true,
                "arrows": true,
                "dots": false,
                "autoplay" : true,
                "fade" : true,
                "autoplaySpeed" : 7000,
                "pauseOnHover" : false,
                "pauseOnFocus" : false
                }'
		data-slick-responsive='[
                {"breakpoint":768, "settings": {
                "slidesToShow": 1
                }},
                {"breakpoint":575, "settings": {
                "slidesToShow": 1
                }}
            ]'>
		<div class="slide-item bg-1 animation-style-01"
			th:each="item : ${@DataGlobal.posters}"
			th:style="'background-image: url(' + @{${item.imageUrl}} + '); min-height: 500px;'">
			<div class="slider-progress"></div>
			<div class="container">
				<div class="slide-content">
					<h2 class="text-info" style="font-weight: bold">
						Mặt hàng Anime <br /> Khám phá xu hướng
					</h2>
					<div class="slide-btn">
						<a class="kenne-btn" th:href="@{/anime-shop/shop}">Mua Ngay</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>